<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Sit-in Monitoring System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body class="body">
    <header>
        <h2 class="titleh1">
            <span class="button__icon">
                CCS SIT-IN MONITORING SYSTEM <ion-icon name="bookmarks-outline"></ion-icon>
            </span>
        </h2>
    </header>
  
    <section class="grid-container">
        <nav>
            <ul>
              <li>
                  <button class="button" onclick="window.location.href='/dashboard'">
                      <span class="textini">
                        Dashboard
                      </span>
                      <span aria-hidden="true" class="hover-text">
                        Dashboard
                      </span>
                    </button>
              </li>
                {% if user.role == 'admin' %}
                <li>
                <button class="button" onclick="window.location.href='/search'">
                    <span class="textini">
                        Search 
                    </span>
                    <span aria-hidden="true" class="hover-text">
                        Search
                    </span>
                </button>
                </li>
                {% endif %}
                <li>
                    <button class="button" onclick="window.location.href='/edit'">
                        <span class="textini">
                            Edit 
                        </span>
                        <span aria-hidden="true" class="hover-text">
                            Edit
                        </span>
                    </button>
                </li>
  
                {% if user.role == 'admin' %}
                <li>
                    <button class="button" onclick="window.location.href='/announcement'">
                        <span class="textini">
                            Announcement 
                        </span>
                        <span aria-hidden="true" class="hover-text">
                            Announcement
                        </span>
                    </button>
                </li>
                {% endif %}

                {% if user.role == 'admin' %}
                <li>
                    <button class="button" onclick="window.location.href='/sit-in'">
                        <span class="textini">
                            Sit-In
                        </span>
                        <span aria-hidden="true" class="hover-text">
                            Sit-In
                        </span>
                    </button>
                </li>
                {% endif %}

                {% if user.role == 'admin' %}
                <li>
                    <button class="button" onclick="window.location.href='/sit-in-reports'">
                        <span class="textini">
                            Sit-In Reports
                        </span>
                        <span aria-hidden="true" class="hover-text">
                            Sit-In Reports
                        </span> 
                    </button>
                </li>
                {% endif %}
  
                {% if user.role == 'admin' %}
                <li>
                    <button class="button" onclick="window.location.href='/reservations'">
                        <span class="textini">
                            Reservations 
                        </span>
                        <span aria-hidden="true" class="hover-text">
                            Reservations
                        </span>
                    </button>
                </li>
                {% endif %}

                

                <!-- Logout Button -->
                <li>
                    <button class="button" style="background-color: red; color: white;" onclick="window.location.href='/logout'">
                        <span class="textini">
                            Logout 
                        </span>
                        <span aria-hidden="true" class="hover-text">
                            Logout
                        </span>
                    </button>
                </li>
            </ul>
        </nav>
  
    </nav>
  <article>
    <h1>Web Development</h1>
    <p1><b>Web development</b> is the work involved in developing a website for the <b>Internet (World Wide Web)</b> or an <b>intranet (a private network)</b>.Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. A more comprehensive list of tasks to which Web development commonly refers, may include <b>Web engineering, Web design, Web content development, client liaison, client-side/server-side scripting, Web server and network security configuration, and e-commerce development.</b><br>
  <br>
Among Web professionals, <b>"Web development"</b> usually refers to the main non-design aspects of building Web sites: writing markup and coding. Web development may use <b>Content Management Systems (CMS)</b> to make content changes easier and available with basic technical skills.<br>
<br>
For larger organizations and businesses, Web development teams can consist of hundreds of people (Web developers) and follow standard methods like <b>Agile methodologies</b> while developing Web sites. Smaller organizations may only require a single permanent or contracting developer, or secondary assignment to related job positions such as a graphic designer or information systems technician. Web development may be a collaborative effort between departments rather than the domain of a designated department. <br>
<br>There are <b>three kinds of Web developer specialization: front-end developer, back-end developer, and full-stack developer.</b> Front-end developers are responsible for <b>behavior and visuals</b> that run in the user browser, while back-end developers deal with the <b>servers</b>. Since the commercialization of the Web with  <b style="color: red;">Tim Berners-Lee</b> developing the World Wide Web at <b>CERN</b>, the industry has boomed and has become one of the most used technologies ever.</p1>
    
    
  </article>
</section>
<footer>
  <p>copyright © <span id="year"></span> all rights reserved</p>
  <script>
      document.getElementById("year").textContent = new Date().getFullYear();
  </script>
</footer>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>